
$titulo-color:black;
$menuup-color:whitesmoke;
$menuup-background-color:black;
$menuup-border-color:white;
$image1-border-color:lightgrey;
$image1p-color:black;
$image2-border-color:lightgrey;
$image2p-color:black;
$image3-border-color:lightgrey;
$image3p-color:black;
$image4-border-color:lightgrey;
$image4p-color:black;
$image5-border-color:lightgrey;
$image5p-color:black;
$a-color:white;
$p-color:black;
$dropdown-main-menu-color:white;
$dropdown-main-menu-background-color:black;
$emailform-color:black;
$signin-color:black;
$footer-color:red;
$label-color:black;
$hover-color:black;
$h3-color:black;
$hover-background-color:lightgrey;











